/************************************
GENERAL
*************************************/

body {
  text-align: center;
}

#primary-content {
  border: 3px solid red;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}


/************************************
HEADLINE ELEMENTS
*************************************/

h1 {
  font-size: 72px;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
}


/************************************
COLORS
*************************************/

body {
  color: #878787;
}

header {
  background-color: orange;
}

h1 {
  color: white;
}

h3 {
  color: #4852c;
}